html {
    font-size: 1rem;
}

body {
    color: #d6d6d6;
    background-color: #0f0f0f;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #fff;
}

ul {
    list-style-type: none;
}

h1,h2 {
    text-align: center;
}

.day {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-sm {
    max-width: 400px;
}

.circle-container {
    display: flex;
    justify-content: center;
}

.circle-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: #d6d6d6;
    height: 125px;
    width: 125px;
    color: #0f0f0f;
    border-radius: 50%;
    text-align: center;
    line-height: 50px; /* Säädä linjan korkeus tarvittaessa keskittämiseen */
}

.day-collapse {
    margin: 20px;
}

.day-collapse[aria-expanded="true"] {
    color: #9d9d9d;
}

.windContainer {
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.sealevel-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.wind {
    border-bottom: 1px solid #a1a1a1;
}

.cold {
    color: #0009b9;
  }

  .cool {
    color: #0077c7;
  }

  .chilly {
    color: #006b2d;
  }

  .warm {
    color: #e67e22;
  }

  .hot {
    color: #e74c3c;
  }

.gust {
    color: rgb(0, 0, 127);
}

.small-font {
    font-size: 0.9rem;
}

.arrow {
    border: solid #000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
  
.arrow-right {
    transform: rotate(-67.5deg);
    -webkit-transform: rotate(135deg);
}

.arrow-left {
    transform: rotate(-67.5deg);
    -webkit-transform: rotate(-45deg);
}

.arrow-up {
    transform: rotate(-67.5deg);
    -webkit-transform: rotate(45deg);
}

.arrow-down {
    transform: rotate(-67.5deg);
    -webkit-transform: rotate(-135deg);
}
.arrow-southeast {
    transform: rotate(67.5deg);
    -webkit-transform: rotate(180deg);
}

.arrow-southwest {
    transform: rotate(-67.5deg);
    -webkit-transform: rotate(-90deg);
}

.arrow-northeast {
    transform: rotate(-67.5deg);
    -webkit-transform: rotate(90deg);
}

.arrow-northwest {
    transform: rotate(-67.5deg);
    -webkit-transform: rotate(0deg);
}

.loader {
    margin: auto;
    border: 10px solid #fff;
    border-radius: 50%;
    border-top: 10px solid #b9eefc;
    width: 10rem;
    height: 10rem;
    animation: spinner 1.25s linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }  
}

@media (max-width: 1000px) {
    
    html, body {
        font-size: 1.5rem;
    }

    .circle-img {
        padding: 10px;
        background-color: #d6d6d6;
        height: 225px;
        width: 225px;
        line-height: 60px;
        font-size: 2.25rem;
    }

    hr {
        margin-bottom: 50px;
    }

    .sealevel-container {
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    
    html, body {
        font-size: 1rem;
    }

    .sealevel-container {
        margin-bottom: 25px;
    }

    .circle-img {
        height: 150px;
        width: 150px;
        font-size: 1.5rem;
    }
}